.d1{background:LightSkyBlue;}

.d2{
  background:LightSalmon;
  justify-self: center;
}

.d3{
  background:PaleTurquoise;
  align-self: end;
}

.d4{background:LightPink;}

.d5{
  background:PaleGreen;
  grid-row: 2/4;
  grid-column: 2/4;
}

.container {
  font-size: 40px;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: end;
}
